[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

jupyter = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
scipy = "*"
requests = "*"
seaborn = "*"
"oauth2client" = "*"
gspread = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"


[requires]

python_version = "3.6"
